
/* CSS Document */

	
	
h1{
	display: inline;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-top: 10px;
	margin-left: 50px;
	text-transform: uppercase;
	font-size: 30px;
	font-family: josefin-sans;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 3px;	
}

.main-nav{
	display: inline-block;
	width: 100%;
	height: 50px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #87D1E3;
}
.main-nav ul{
	float: right;
	margin-right: 30px;
	margin-top: 24px;
}
.main-nav li{
	display: inline-block;
	list-style-type: none;
	
	
}
.main-nav a{
	text-transform: uppercase;
	font-family: "josefin-sans";
	display: block;
	color:#191919;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	
}
li a:hover {
	background-color: #87D1E3;
	
}
.center{
	display: block;
	width: 100%;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}
main{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
main ul{
	list-style-type: none;
}
main li{
	display: inline;
	font-family: "josefin-sans";
	padding: 20px;
	font-size: 30px;
	text-transform: lowercase;
	text-decoration: underline;
	
}